<div
  class="flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-sm md:w-60 md:hover:-translate-y-4">
  <img class="object-cover object-center h-full min-h-[20rem] rounded-t-xl " src="{{document?.previewImage}}"
    alt="blog">
  <div class="px-2">
    <h4 class="text-lg mb-0 font-semibold text-neutral-600"> {{document?.title}} </h4>
    <p class="mt-0 text-base font-normal text-gray-500 leading-relax">{{document?.type}}</p>
  </div>
</div>
